@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --color-header: #4c004c;
  --color-menu-item: #3c003c;
}

@media all {
  * {
    margin: 0px;
    padding: 0px;
  }

  body {
    font-family: Poppins, sans-serif;
    background-color: #dedede;
  }

  header {
    background-color: var(--color-header);
  }

  header h1 {
    color: white;
    padding: 10px;
    font-size: 2em;
  }

  header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: auto;
  }

  #burger {
    display: none;
  }

  menu li {
    display: inline-block;
    padding: 10px 5px 10px 5px;;
  }

  menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 3px 5px 3px 5px;
  }

  menu a:hover {
    background-color: white;
    color: var(--color-menu-item);
    border-radius: 6px;
    cursor: pointer;
  }

  main {
    max-width: 1280px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
  }

  article h2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  article p {
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 20px;
  }
}

@media screen and (max-width: 600px) {
  header section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  menu {
    display: none;
  }

  menu li {
    display: block;
  }

  #burger {
    display: block;
    color: white;
    text-align: center;
    padding-bottom: 10px;
  }

  #burger:hover {
    cursor: pointer;
  }
}