body {
  text-align: center;
}

h1 {
  background-color: #e5b5b9;
  color: white;
}

h2 {
  background-color: rgba(0, 0, 255, 0.693);
  color: white;
}

p {
  background-color: hsl(990, 90%, 70%);
  color: white;
}